<td>
  <%= link_to user.email, user %>
</td>
<td>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
    <td>
      <button><%= f.submit 'Change Account Level' %></button>
      <% unless user == current_user %>
        <button><%= link_to("Delete User", user_path(user), :data => { :confirm => "Are you sure?"}, :method => :delete, :class => "button") %></button>
      <% end %></br></br>
    </td>
  <% end %>
</td>